{# src/ESIEA/PlatformBundle/Resources/views/order/addpayment.html.twig #}
{% extends "ESIEAPlatformBundle::layout.html.twig" %}

{% block PAGE_BODY %}
  <!-- Formulaire -->
    <section id="addpayment" class="container content-section text-center" >
      <h3>Vos informations de paiement</h3>
          {{ include("ESIEAPlatformBundle:Order:paymentform.html.twig") }}
          <center>{{ form_widget(paymentform.save, { 'label': 'Voir le récapitulatif de commande' }, {'attr': {'class': 'btn btn-primary'}}) }}</center>
    </section>
{% endblock %}