{# src/ESIEA/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "ESIEACoreBundle::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}



 {% block esieaplatform_body %}
<html>
   <body>
   	

   	
   </body>
 </html>
 {% endblock %}

