{# src/ESIEA/PlatformBundle/Resources/views/Advert/add.html.twig #}


<head>
      


      <title>{% block title %}ESIEA Plateforme{% endblock %}</title>
 
     
      {{ render(controller('ESIEAPlatformBundle:Site:header')) }}
     


     {% block stylesheets %}
     {% stylesheets filter="cssrewrite, ?scssphp"
      'bundles/esieaplatform/css/demo.css'
      %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" >
      <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      {% endblock %}
   </head>
  

{% block body %}
<!-- Formulaire d'ajout -->


<section id="add" class="container content-section text-center" >

<h3>Ajouter une recette</h3>   
 {{ include("ESIEAPlatformBundle:Advert:form.html.twig") }}

  

</section>
	
   {% block javascripts %}
{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/esieaplatform/js/demo.js') }}"></script>
{% endblock %} 

{% endblock %}