{# src/ESIEA/PlatformBundle/Resources/views/Advert/delete.html.twig #}
{% extends "ESIEAPlatformBundle::layout.html.twig" %}

{% block PAGE_BODY '' %}
  <section id="add" class="container content-section text-center" >
      <h3>Supprimer une recette</h3>
      <p>
          Voulez-vous supprimer cette recette de "{{ advert.title }}" ?
      </p>
      <form action="{{ path('esiea_platform_delete', {'id': advert.id}) }}" method="post">
          <a href="{{ path('esiea_platform_view', {'id': advert.id}) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour à la recette
          </a>
          <input type="submit" value="Supprimer" class="btn btn-danger" />
          {{ form_rest(form) }}
      </form>
  </section>
{% endblock %}