{% extends "ESIEAPlatformBundle:Advert:header.html.twig" %}     

{% block body %}
<!-- FAQ Section -->
    <section id="faq" class="container content-section text-center">
        <div class="col-8">
            <div class="faq--content">
                <h3 class="mbottom30">À propos de nous</h3>
                

                <div class="static--content-section">
                    <h4><a >Qui sommes-nous ?</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor dui eleifend velit fringilla semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris dapibus luctus mollis. Donec semper diam rhoncus risus rhoncus, in molestie lectus dignissim. Proin massa leo, tincidunt ac eros at, cursus varius diam. Etiam posuere feugiat elit, et sodales nisi rhoncus eget. Etiam interdum elit in turpis iaculis faucibus. Praesent blandit lectus tortor, in rhoncus sapien placerat id. Fusce vel purus vel libero varius efficitur. Etiam iaculis commodo mi, ut sodales urna imperdiet in. Vivamus a velit tempor, ullamcorper ex bibendum, laoreet ex. Cras tincidunt sem vel diam sodales ornare. Morbi blandit turpis nec nisl facilisis laoreet. Nulla molestie neque eget tincidunt egestas.</p>
                </div>
                

                <div class="static--content-section">
                    <h4><a name="story">Pourquoi ESI_EATS ?</a></h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor dui eleifend velit fringilla semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris dapibus luctus mollis. Donec semper diam rhoncus risus rhoncus, in molestie lectus dignissim. Proin massa leo, tincidunt ac eros at, cursus varius diam. Etiam posuere feugiat elit, et sodales nisi rhoncus eget. Etiam interdum elit in turpis iaculis faucibus. Praesent blandit lectus tortor, in rhoncus sapien placerat id. Fusce vel purus vel libero varius efficitur. Etiam iaculis commodo mi, ut sodales urna imperdiet in. Vivamus a velit tempor, ullamcorper ex bibendum, laoreet ex. Cras tincidunt sem vel diam sodales ornare. Morbi blandit turpis nec nisl facilisis laoreet. Nulla molestie neque eget tincidunt egestas.</p>
                </div>
                <h3 class="mbottom30">Commander sur ESI_EATS</h3>
                <div class="static--content-section">
                  <h4><a name="howdoesitwork">Comment ça marche ?</a></h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor dui eleifend velit fringilla semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris dapibus luctus mollis. Donec semper diam rhoncus risus rhoncus, in molestie lectus dignissim. Proin massa leo, tincidunt ac eros at, cursus varius diam. Etiam posuere feugiat elit, et sodales nisi rhoncus eget. Etiam interdum elit in turpis iaculis faucibus. Praesent blandit lectus tortor, in rhoncus sapien placerat id. Fusce vel purus vel libero varius efficitur. Etiam iaculis commodo mi, ut sodales urna imperdiet in. Vivamus a velit tempor, ullamcorper ex bibendum, laoreet ex. Cras tincidunt sem vel diam sodales ornare. Morbi blandit turpis nec nisl facilisis laoreet. Nulla molestie neque eget tincidunt egestas.</p>
                </div>

                <div class="static--content-section">
                  <h4><a name="howdoesitwork">Paiement & livraison</a></h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor dui eleifend velit fringilla semper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris dapibus luctus mollis. Donec semper diam rhoncus risus rhoncus, in molestie lectus dignissim. Proin massa leo, tincidunt ac eros at, cursus varius diam. Etiam posuere feugiat elit, et sodales nisi rhoncus eget. Etiam interdum elit in turpis iaculis faucibus. Praesent blandit lectus tortor, in rhoncus sapien placerat id. Fusce vel purus vel libero varius efficitur. Etiam iaculis commodo mi, ut sodales urna imperdiet in. Vivamus a velit tempor, ullamcorper ex bibendum, laoreet ex. Cras tincidunt sem vel diam sodales ornare. Morbi blandit turpis nec nisl facilisis laoreet. Nulla molestie neque eget tincidunt egestas.</p>
                </div>
                
        </div>
    </section>
{% endblock %}