{% extends "ESIEAPlatformBundle:Advert:header.html.twig" %}     
{% block body %}
<!-- FAQ Section -->
<section id="faq" class="container content-section">
    <div class="col-8">
    <div class="faq">
        <h3 class="mbottom30">À propos de nous</h3>
        <div class="static--content-section">
            <h4><a>Qui sommes-nous ?</a></h4>
            <p> Notre mission ? Livrer, chez vous, et dans les meilleurs délais, vos recettes préférées.
                <br>Vous pouvez maintenant commander les recettes qui vous plaisent qui seront cuisinées avec amour par leurs auteurs, des internautes comme vous et moi.</br>
                <br>Pour satisfaire nos clients, et accomplir notre mission, nous nous appuyons sur une équipe de coursiers compétents, hommes et femmes qui vous livrent à vélos.</br>
            </p>
        </div>
        <div class="static--content-section">
            <h4><a>Pourquoi ESIEA EATS ?</a></h4>
            <p>Pour satisfaire votre estomac, notre équipe travaille dans l’optique de rester fidèle à nos 2 engagements : 
            <h4>Le Choix</h4>
            <p> Nous comptons un bon nombre de recettes incontournables imaginé par des intenautes et réalisés par eux.</p>
            <h4>L’Efficacité</h4>
            <p>Tous les plats sont accessibles en un clic. Vous commandez et payez en toute sécurité en ligne. Nous traitons votre commande instantanément. Le restaurateur est informé dès que vous avez validé la commande et vous communique à son tour l’heure à laquelle vous la recevrez.</p>
            </p>
        </div>
        <h3 class="mbottom30">Commander sur ESIEA EATS</h3>
        <div class="static--content-section">
            <h4><a>Comment ça marche ?</a></h4>
            <p>C’est très simple : 
            <ol class="format">
                <li>Faites défiler les recettes de plats sur notre page d’accueil.</li>
                <li>Dès qu’un plat vous plait, sélectionnez-le.</li>
                <li>Renseignez vos coordonnées.</li>
                <li>Validez informations de paiement.</li>
                <li>L'auteur de la recette cuisine pour vous, et on vous livre !</li>
            </ol>
            </p>
        </div>
        <div class="static--content-section">
            <h4><a>Paiement & livraison</a></h4>
            <p>Toutes nos transactions se font en ligne, et pour vous offrir une expérience client optimale, nous prenons uniquement les paiements par carte bancaire. Cela crée un environnement plus sécurisé pour vous et notre équipe de coursiers. Toutefois, libre à vous de laisser un pourboire au coursier en espèce si vous le souhaitez. 
            </p>
        </div>
        <div class="static--content-section">
            <h4><a>Rémunération</a></h4>
            <p>Le montant pour chaque recette est partagé entre l'auteur de la recette, le coursier et ESI<span class="blue">EA EATS</span>. <br>Respectivement à hauteur de <span class="blue">60%</span>, <span class="blue">20%</span> et <span class="blue">20%</span>.</br>
            </p>
        </div>
    </div>
</section>
{% endblock %}