{# app/Resources/views/header.html.twig #}
<html lang="fr">

<head>

   

    <title>Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    



</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  style="background-color:black;">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <h2>ESIE_EAT</h2>

               
            </div>



            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="{{ path('esiea_platform_home') }}">Home</a>
                    </li>
                    <li> <a  href="{{ path('esiea_platform_add') }}">
                     <span class="light">Publier</span> une recette
                                    </a></li>


                    
                    <li>
                        <a class="page-scroll" href="#about">À propos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#recette">Recettes</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#about">FAQ</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    




</body>

</html>
